[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/Byte-666/FFmpeg.git
[submodule "lame"]
	path = lame
	url = https://github.com/Byte-666/lame.git
[submodule "x264"]
	path = x264
	url = https://github.com/Byte-666/x264.git
